html, body {
    height: 100%;
    color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenedor{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 100dvh;
    background-color: #212121;
    

    & div{
        display: flex;
        height: 40dvh;
        justify-content: center;
        align-items: center;
        border-radius: 10%;
        margin: 1dvh;
        border-radius:20% 
    }

    & #btn-atras{
        background-color: aqua;
        width: 20dvh;
        &:hover{
            background-color: gray;
        }
    }

    & #foto{
        background-color: blueviolet;
        flex-grow: 3;
        width: 70dvh;
        height: 70dvh;
        & img{
            width: 100%;
            height: 100%;
            object-fit:fill;
            border-radius: 2%;
        }
    }

    & #btn-adelante{
        background-color: rgb(187, 92, 92);
        &:hover{
            background-color: rgb(223, 169, 169);
        }
    }
}

 #flecha:hover{
    fill: chartreuse;
    stroke: aqua;
 }